body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left{
    animation-name: anim1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;


}
.right{
    animation-name: anim2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;


}

.bg{
    /* background-image:linear-gradient(rgba(0, 0,0, 0.3), rgba(0, 0,0, 0.6), rgba(0, 0,0, 0.4), ), url("https://i.pinimg.com/736x/3c/ed/86/3ced865727c98ee9ff400964423adaf4.jpg"); */
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    color: white;
    background-color: #0A5E08;
    margin-bottom: 20px;
;
}


@keyframes anim2 {
    from{
        transform: translateX(50%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes anim1 {
    from{
        transform: translateX(-90%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}